#portfolio_img{
    padding-bottom: 48px;
}
.singlePortfolio{
    font-family: Nunito;
font-size: 26px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0px;
text-align: center;
padding-top:36px;
}
#portfolio_btn{
    margin-top:103px;
}
.portfolioTop img {
    width: 197.015625px;
}