#about_para{
    font-family: Nunito;
font-size: 20px;
font-weight: 500;
line-height: 34px;
letter-spacing: 0px;
text-align: left;
width: 457px;
color: #04041599;
padding-bottom: 55px;


}
.name {
    padding-left: 20px;
}
.about_section2{
    padding-top:58px;
}
#about{
    padding-bottom: 150px;
}
.text-center.aboutTop img {
    height: 21.05292510986328px;
    width: 151.02471923828125px;
  
}
.about_image{
background-image: url("../../../public/images/Shape.png");
background-repeat: no-repeat;
background-size: cover;
z-index: 1;
text-align: center;
}