#about_para{
    font-family: Nunito;
font-size: 20px;
font-weight: 500;
line-height: 34px;
letter-spacing: 0px;
text-align: left;
width: 457px;
color: #04041599;


}
.about_section2{
    padding-top:58px;
}
#about{
    padding-bottom: 150px;
}
/* #about {
    height: 383.444091796875px;
width: 383.444091796875px;
left: 858.7843627929688px;
top: 5361.375px;
border-radius: 0px;

} */