.header_top{
    display: flex;
    justify-content: space-between;
}
.header_top li{
    list-style:none;
    display: inline-flex;

}
.header_top li a{
    font-family: var(--paragrap_text);
    text-decoration: none;
    padding: 0 12px;
    font-weight: 600;
    text-transform: uppercase;
}
button{
width: 150px;
height: 40px;
border:none;
color:#fff;
background: #3088FF;
box-shadow: 16px 16px 28px rgba(48, 136, 255, 0.1);
border-radius: 8px;
}


.logo {width: 132px;height: 87px;}

/* header middle style  */

.container.mx-auto.header_meddle h1 {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}


.container.mx-auto.header_meddle p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(4, 4, 21, 0.6);
}
/* .col-md.header_middle_left {
    height: 100vh;
    background: #7c6f6f;
} */
.col-md.header_middle_left img {
    width: 100%;
    height: 400px;
}


/* .container.mx-auto.header_meddle img {
    width: 246.44px;
    height: 18.24px;
    margin: 0;
    padding: 0;
} */


/* header bottom  style */
#image_section {
    height: 568px;
    width: 1166px;
    /* left: 137px; */
    /* top: 563px; */
    border-radius: 0px;
}
.container.mx-auto.header_bottom {
    position: relative;
}

.video_icon {
    position: absolute;
    top: 68%;
    left: 45%;
}
.video_icon img {
    width: 95px;
    height: 95px;
}