.our_Customer img {
    text-align: center;
    width: 240px;
}
.ourCustomerTitle{
    margin-bottom: 77px;
}
.text-center.ourCustomerTitle img {
    height: 25.813817977905273px;
    width: 232.96646118164062px;
   
}
